 <ul class="t-menu horizontal compact">
  <li><a href="<%= url_for edit_serial_path(@serial) %>"><span class="icon mif-pencil"></span> Edit</a></li>
  <li><a href="<%= url_for new_serial_path %>"><span class="icon mif-folder-plus"></span> New</a></li>
  <li><a href="<%= url_for serials_path %>"><span class="icon mif-chevron-left"></span> Back</a></li>
 </ul>
 <br>
 <br>
<div class="listview-outlook" data-role="listview">
    <div class="list">
        <div class="list-content">
            <span class="list-title">Serial Number</span>
            <span class="list-subtitle"><%= @serial.serial_number %></span>
            <span class="list-remark"><%= @serial.equipment.model %></span>
        </div>
    </div>
</div>