<div class="appbarextension">
  <ul class="inline-list for-sales">
    <li><a href="<%= url_for new_distributor_path %>">New</a></li>
  </ul>
  <br>

  <ul style="-moz-column-count: 5; -moz-column-gap: 10px; -webkit-column-count: 5; -webkit-column-gap: 10px; column-count: 5; column-gap: 10px; list-style-type: none;">
    <% @distributors.each_with_index do |distributor, index| %>
      <li onclick="groupRow(5);"><a href="#" class="title" id="distributor-context-menu-<%= index %>"><%= distributor.distributor_name %></a>
        <% if session[:group].include?("sales") == true then %>
          <script type="text/javascript">
            $.contextMenu({
              selector: '#distributor-context-menu-<%= index %>', 
              trigger: 'right',
              items: {
                "show": {name: '<span class="mif-lamp"></span> Show',
                    callback: function(key, options) { window.location = '<%= url_for distributor %>'; } },
                "edit": {name: '<span class="mif-pencil"></span> Edit',
                    callback: function(key, options) { window.location = '<%= url_for edit_distributor_path(distributor) %>'; } },
                "delete": {name: '<%= link_to distributor, method: :delete, data: {confirm:"Are you sure?"}, id: "delete-dis-"+index.to_s do %><span class="mif-bin"></span> Delete<%end%>',
                    callback: function(key, options) {$('#delete-dis-<%= index %>').get(0).click();} 
                }
              }
            });
          </script>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>