<%= form_for(@equipment) do |f| %>
<%= error_messages_for(@equipment) %>
<h2>Specification Case Number: <%= @equipment.specification.case %></h2>

<div class="grid">
  <div class="row cells3">
    <div class="cell">
    <h3>Specification Image</h3>
    <div id="pdf" style="height: 600px;"></div><script>PDFObject.embed("<%= @equipment.specification.avatar.url %>", "#pdf");</script>
    </div>
    <div class="cell">
        <div class="field">
          <h3>Type in the details of the equipment</h3>
          <br>
          <div class="input-control modern text iconic">
            <%= f.text_field :equipment_name, class: "flexdatalist", list: "equipmentlist" %>
            <span class="label"><%= f.label :equipment_name %></span>
            <span class="informer"><br>e.g. Dell Desktop</span>
            <span class="placeholder">Type of equipment</span>
            <span class="icon mif-phonelink"></span>
          </div>
          <datalist id="equipmentlist">
            <% @equipment_name.each do |item|  %>
              <option><%= item.equipment_name %></option>
            <% end %>
          </datalist>
        </div>
        <div class="field">
          <div class="input-control modern text iconic">
            <%= f.text_field :model, class: "flexdatalist", list: "modellist" %>
            <span class="label"><%= f.label :model %></span>
            <span class="informer"><br>e.g. Optiplex 720</span>
            <span class="placeholder">Model Number</span>
            <span class="icon mif-versions"></span>
          </div>
          <datalist id="modellist">
            <% @models.each do |item|  %>
              <option><%= item.model %></option>
            <% end %>
          </datalist>
        </div>
        <div class="field">
          <div class="input-control modern text iconic">
            <%= f.text_field :job_sheet_number, class: "flexdatalist", list: "jobsheetlist"  %>
            <span class="label"><%= f.label :job_sheet_number %></span>
            <span class="informer"><br>e.g. 0003865</span>
            <span class="placeholder">Job Sheet Number</span>
            <span class="icon mif-files-empty"></span>
          </div>
          <datalist id="jobsheetlist">
            <% @job_sheet_numbers.each do |item|  %>
              <option><%= item.job_sheet_number %></option>
            <% end %>
          </datalist>
        </div>
        <div class="field">
          <div class="input-control modern text iconic">
            <%= f.text_field :supplier, class: "flexdatalist", list: "supplierlist"  %>
            <span class="label"><%= f.label :supplier %></span>
            <span class="informer"><br>e.g. Mitsumi</span>
            <span class="placeholder">Equipment Supplier</span>
            <span class="icon mif-truck"></span>
          </div>
          <datalist id="supplierlist">
            <% @suppliers.each do |item|  %>
              <option><%= item.supplier %></option>
            <% end %>
          </datalist>
        </div>
        <div class="field">
          <div class="input-control modern text iconic">
            <%= f.text_field :supplier_invoice_number %>
            <span class="label"><%= f.label :supplier_invoice_number %></span>
            <span class="informer"><br>e.g. H7160644</span>
            <span class="placeholder">Supplier Invoice</span>
            <span class="icon mif-file-text"></span>
          </div>
        </div>

        <div class="field">
          <%= f.label :supplier_Warranty_start %>
          <div class="input-control text" data-role="datepicker" data-date="1972-12-21" data-format="d mmm, yyyy">
            <%= f.text_field :supplier_Warranty_start %>
            <button class="button"><span class="mif-calendar"></span></button>
          </div>
        </div>
        <div class="field">
          <%= f.label :supplier_Warranty_end %>
          <div class="input-control text" data-role="datepicker" data-date="1972-12-21" data-format="d mmm, yyyy">
            <%= f.text_field :supplier_Warranty_end %>
            <button class="button"><span class="mif-calendar"></span></button>
          </div>
        </div>
        <div class="field">
          <%= f.label :customer_Warranty_start %>
          <div class="input-control text" data-role="datepicker" data-date="1972-12-21" data-format="d mmm, yyyy">
            <%= f.text_field :customer_Warranty_start %>
            <button class="button"><span class="mif-calendar"></span></button>
          </div>
        </div>
        <div class="field">
          <%= f.label :customer_Warranty_end %>
          <div class="input-control text" data-role="datepicker" data-date="1972-12-21" data-format="d mmm, yyyy">
            <%= f.text_field :customer_Warranty_end %>
            <button class="button"><span class="mif-calendar"></span></button>
          </div>
        </div>
        <div class="field">
          <div class="input-control text">
            <%= f.hidden_field :specification_id, value: @equipment.specification.id %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    </div>
    <div class="cell">
      <br> <br>
      <div class="field">
        <div class="input-control textarea" data-role="input" data-text-auto-resize="true">
          <%= f.text_area(:technician_report, size: '50x30', placeholder: "Technician's Report") %>
        </div>
      </div>
    </div>
  </div>
</div>


<% end %>
