<h1>List of Equipment</h1>

 <ul class="t-menu horizontal compact">
  <% if @specification.tested == false then %>
      <li><a href="<%= url_for new_equipment_path %>"><span class="icon mif-folder-plus"></span> New Equipment</a></li>
      <li><a href="<%= url_for :action => 'tested' %>"><span class="icon mif-thumbs-up"></span> Finish</a></li>
    <% else %>
      <li><button href="#" disabled class="button"><span class="icon mif-folder-plus"></span> New</button></li>
      <li><button href="#" disabled class="button"><span class="icon mif-thumbs-up"></span> Finish</button></li>
  <% end %>
 </ul>
  

<table id="table_id" width="100%" class="display" cellspacing="0">
  <thead>
    <tr>
      <th>Equipment name</th>
      <th>Model</th>
      <th>Quantity</th>
      <th>Date</th>
      <th>Engineer</th>
    </tr>
  </thead>

  <tbody id="walkthrough_wrapper-2">
    <% @equipment.each_with_index do |equipment, index| %>
      <script type="text/javascript">
        $.contextMenu({
            selector: '#context-menu-<%= index %>', 
            trigger: 'right',
            items: {
              "serials": {name: '<%= link_to serials_path( :equipment_id => equipment.id ), :class => "serial"+index.to_s do %><span class="mif-barcode"></span> Serial numbers<% end %>',
                  callback: function(key, options) { $('.serial<%= index %>').get(0).click(); } },
                "sep1": "---------",
                "edit": {name: '<%= link_to edit_equipment_path(equipment), id: "edit"+index.to_s do %><span class="mif-pencil"></span> Edit<%end%>',
                  callback: function(key, options) { $('#edit<%= index %>').get(0).click(); } },
              "delete": {name: '<%= link_to equipment, method: :delete, data: {confirm:"Are you sure?"}, id: "delete"+index.to_s do %><span class="mif-bin"></span> Delete<%end%>',
                  callback: function(key, options) {$('#delete<%= index %>').get(0).click();} }
            }
        });
      </script>

      <tr id="context-menu-<%= index %>" onclick="window.location='<%= url_for equipment %>';" >
        <td><%= equipment.equipment_name %></td>
        <td><%= equipment.model %></td>
        <td><%= equipment.serials.count %></td>
        <td><%= equipment.created_at.strftime("%-d %B, %Y %H:%M:%S (%A)") %></td>
        <td><%= equipment.engineer %></td>
      </tr>
    <% end %>
  </tbody>
</table>