<% @datarole = "page"
    @page_title = "Search Results"
 %>

  <a class="command-button" href="<%= url_for :action => :simplesearch %>">
      <span class="icon mif-search"></span>
      Simple Search
      <small>Use this option for simple search</small>
  </a>
  <a class="command-button icon-right bg-yellow fg-white" href="<%= url_for :action => :search %>">
      <span class="icon mif-lamp"></span>
      Advanced Search
      <small>Use this option for detailed search</small>
  </a>


  <table id="table_id" width="100%" class="display" cellspacing="0">
    <thead>
      <tr>
        <th>Equipment</th>
        <th>Model</th>
        <th>Date</th>
        <th>Engineer</th>
        <th>Job sheet no.</th>
        <th>Case</th>
        <th>Case Title</th>
        <th>Case Author</th>
        <th>Client</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Supplier</th>
      </tr>
    </thead>
    <tbody>
      <% @equipment.each_with_index do |equipment, index| %>
        <script type="text/javascript">
          $.contextMenu({
              selector: '#context-menu-<%= index %>', 
              trigger: 'right',
              items: {
                "serials": {name: '<%= link_to serials_path( :equipment_id => equipment.id ), :class => "serial"+index.to_s+" popupwindow" do %><span class="mif-barcode"></span> View Serial numbers<% end %>',
                    callback: function(key, options) { $('.serial<%= index %>').get(0).click(); } }
              }
          });
        </script>

        <tr id="context-menu-<%= index %>" onclick="window.location='<%= url_for equipment( specification_id: equipment.specification.id ) %>';" >
          <td><%= equipment.equipment_name %></td>
          <td><%= equipment.model %></td>
          <td><%= equipment.created_at.strftime("%-d %B, %Y %H:%M:%S (%A)") %></td>
          <td><%= equipment.engineer %></td>
          <td><%= equipment.job_sheet_number %></td>
          <td><%= equipment.specification.case %></td>
          <td><%= equipment.specification.title %></td>
          <td><%= equipment.specification.author %></td>
          <td><%= equipment.specification.client %></td>
          <td><%= equipment.specification.contact_person %></td>
          <td><%= equipment.specification.email %></td>
          <td><%= equipment.specification.supplier %></td>
        </tr>
      <% end %>
    </tbody>
  </table>