<% @walkthrough=true %>
 <script type="text/javascript">
  $(document).ready(function() {
    $("#walkthrough-button").click(function(event){
      //prevent it's default action: going to the link in its href attribute.
      event.preventDefault();

        // Set up tour
        $('body').pagewalkthrough({
            name: 'specification',
            steps: [{
               popup: {
                   content: '#walkthrough-1',
                   type: 'modal'
               }
            }, {
                wrapper: '#walkthrough_wrapper-2',
                popup: {
                    content: '#walkthrough-2',
                    type: 'tooltip',
                    position: 'right'
                }
            }, {
                wrapper: '#walkthrough_wrapper-3',
                popup: {
                    content: '#walkthrough-3',
                    type: 'tooltip',
                    position: 'bottom'
                }
            }, {
                wrapper: '#walkthrough_wrapper-4',
                popup: {
                    content: '#walkthrough-4',
                    type: 'modal'
                }
            }]
        });

        // Show the tour
        $('body').pagewalkthrough('show');
    });
  });
 </script>

<h1>Listing Specifications</h1>

<ul class="t-menu horizontal compact">
  <li><a href="<%= url_for :controller => :welcome %>"><span class="icon mif-chevron-left"></span> Back</a></li>
  <li id='walkthrough_wrapper-2'><a href="<%= url_for new_specification_path %>"><span class="icon mif-folder-special fg-yellow"></span> New</a></li>
</ul>

<br>

<table id="table_id" width="100%" class="hover" cellspacing="0">
  <thead>
    <tr>
      <th>Case Number</th>
      <th>Title</th>
      <th>Client</th>
      <th>Author</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody id="walkthrough_wrapper-3">
    <% @specifications.each_with_index do |specification, index| %>

      	<script type="text/javascript">
  		    $.contextMenu({
  		        selector: '#context-menu-<%= index %>', 
  		        trigger: 'right',
  		        items: {
  		            "sep1": "---------",
  		            "edit": {name: '<%= link_to edit_specification_path(specification), class: "edit"+index.to_s do %><span class="mif-pencil"></span> Edit<%end%>',
  		        			callback: function(key, options) { $('.edit<%= index %>').get(0).click(); } },
  		         	"delete": {name: '<%= link_to specification, method: :delete, data: {confirm:"Are you sure?"}, class: "delete"+index.to_s do %><span class="mif-bin"></span> Delete<%end%>',
  		        			callback: function(key, options) { $('.delete<%= index %>').get(0).click(); } }
  		        }
  		    });
		    </script>

      <tr <% if specification.tested != true then %>
          style="font-weight: bold;"
          <% end %> id="context-menu-<%= index %>" onclick="window.location='<%= url_for specification %>';" >
        <td><%= specification.case %></td>
        <td><%= specification.title %></td>
        <td><%= specification.client %></td>
        <td><%= specification.author %></td>
        <td><%= specification.created_at.strftime("%-d %B, %Y %H:%M:%S (%A)") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="walkthrough-content">
  <div id="walkthrough-1">
    <h1>Specifications Page</h1>
    If <em>Logistics</em> wants <em>Technical</em> team to test, 
    <br><br>
    they have to create a <br>
    <em>case</em>.
    <br><br>
    Click next to continue
  </div>

  <div id="walkthrough-2">
    Click here to create a <em>case</em>.
  </div>

  <div id="walkthrough-3">
   <ul class="simple-list large-bullet" style="font-family: 'GochiHand'; color: #ffffff;font-size: 22px; text-align: center;">
    <li>Click a <em>case</em> to read it.</li>
    <li>Right-click it to edit, delete case & test equipment</li>
   </ul>
  </div>

  <div id="walkthrough-4">
  Please note the following  
    <ul class="simple-list large-bullet" style="font-family: 'GochiHand'; color: #ffffff;font-size: 22px; text-align: center;">
      <li>Only <em>Logistics</em> team can create a <em>case</em>.</li>
      <li>When a <em>case</em> is tested by <em>Support</em> team, it can't be edited or deleted.</li>
    </ul>
  </div>
</div>