    <h1>Title: <%= @spec.title %></h1>
    <p><%= @spec.author %> has created a Specification case: <%= @spec.case %></p>
    <p><%= image_tag attachments[@spec.avatar.original_filename].url %></p>
    <p><b>Client:</b> <%= @spec.client %></p>
    <p><b>Any additional Comments:</b> <%= @spec.comment %></p>

    <address>inventory@fairgreenlimited.com</address>