<div class="list">
  <div class="list-content">
      <span class="list-title"></span>
      <% if activity.trackable then %>
        <span class="list-remark"><%= activity.created_at.strftime("%-d %B, %Y %l:%M%P, %A") %></span>
	      <span class="list-subtitle">Serial number <b><%= a.trackable.serial_number %></b> updated by <%= activity.owner ? activity.owner.name : 'a user' %></span>
	      <span class="list-remark"><b>Equipment:</b> <%= a.trackable.equipment.model %>, <b>Case:</b> <%= a.trackable.equipment.specification.case %></span>
      <% else %>
          <span class="list-remark"><%= activity.created_at.strftime("%-d %B, %Y %l:%M%P, %A") %></span>
      	  <span class="list-subtitle">A serial number was updated by <%= activity.owner ? activity.owner.name : 'a user' %></span>
      	  <span class="list-remark">It has been removed</span>
      <% end %>
  </div>
</div>